services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: barde_lingo
      POSTGRES_PASSWORD: d2NbzwckOYAonhwU
      POSTGRES_DB: barde_lingo
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
